@{
    ViewData["Title"] = "Login Page";
}

<div class="blob"></div>
<div class="container">
    <form>
        <h2>Login</h2>
        <div class="input-bx">
            <input type="email" class="email" required>
            <label>Email</label>
        </div>
        <div class="input-bx">
            <input type="password" class="password" required>
            <label>Password</label>
        </div>
        <div class="remember-forget">
            <label><input type="checkbox">Remember me</label>
            <a href="#">Forgot password?</a>
        </div>
        <button type="submit" class="button">Login</button>
        <div class="register-link">
            <p>Don't have an account?</p><a href="#">Create Account</a>
        </div>
    </form>
        
</div>