@{
    ViewData["Title"] = "Signup Page";
}

<div class="blob"></div>
<div class="container2">
    <form>
        <h2>Signup</h2>
        <div class="input-bx-2">
            <input type="text" class="name" required>
            <label>Full name</label>
        </div>
        <div class="input-bx-2">
            <input type="email" class="email" required>
            <label>Email</label>
        </div>
        <div class="input-bx-2">
            <input type="password" class="password" required>
            <label>Password</label>

            <input type="password" class="password" required>
            <label>Confirm Password</label>
        </div>
        <div class="terms-privacy">
            <input type="checkbox"><p>Accept</p><a href="#"> terms and condition</a>
        </div>
        <button class="button" type="submit">Signup</button>
        <div class="gotologin">
            <p>Already have and account?</p><a href="#">Login</a>
        </div>
    </form>
</div>